[submodule "code"]
	path = code
	url = https://github.com/tobiasreischmann/matchingMarkets.git
[submodule "matchingMarketsEvaluation"]
	path = matchingMarketsEvaluation
	url = https://github.com/tobiasreischmann/matchingMarketsEvaluation.git
