[submodule "code"]
	path = code
	url = git@github.com:tobiasreischmann/matchingMarkets.git
[submodule "matchingMarketsEvaluation"]
	path = matchingMarketsEvaluation
	url = git@github.com:tobiasreischmann/matchingMarketsEvaluation.git
